section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: orange;
}

h2 {
  color: blue;
}

ul {
  color: lightcoral;
  list-style-type: none;
  padding: 0;
}
